
.header {
    top: 0;
    position: sticky;
    z-index: 2000;
    width: 100%;
    color: aliceblue;
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 1px;
    background-color: rgb(184, 117, 69);
    border-radius: 5px;
    padding: 7px ;
  }