.searchForm {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: sticky;
    top: 121px;
    margin: 10px;
}
.searchForm input[type='search'] {
    flex-grow: 1;
    max-width: calc(100% - 50px);
    min-height: 48px;
    font-size: 1rem;
    padding: 0.25rem;
    border-radius: 10px;
    margin-right: 0.25rem;
    border: 2px solid rgb(184, 117, 69);
    background-color: black;
    color: white;
}
